body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

/* NAV BAR */
.bg-steel {
  background-color: #474E4F;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .nav-bar .nav-brand {
  margin-left: -10;
}


/* REGISTER PAGE */
#form-field{
  border-radius: 5% 0% 0% 5%;
  height: 600px;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 10%;
  box-shadow: -5px 0px 10px 2px rgba(0,0,0,0.3);

}

.form-control{
  border-radius: 15px;
  box-shadow: 0px 0px 10px 1px rgba(78, 194, 203, 0.5), 0px 5px 10px 0px rgba(0,0,0,0.3);
  max-height: 55px;
}

.form-title{
margin-bottom: 25px;
}


#submitButton{
  color:#4EC2CB;
  border-color: #4EC2CB;
  margin-top: 20px;
width: 100px;
}

#submitButton:hover{
  color: white ;
  background-color: #4EC2CB;
}

.paragraph{
  margin-top: 10px;
}

#rightSideForm{
  height: 600px;
  border-radius: 0% 5% 5% 0%;
  box-shadow: 5px 0px 10px 2px rgba(0,0,0,0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;;
  background-image: url("/static/img/BeachVault3.png");
}

@media only screen and (max-width: 770px) {
  #form-field{
    border-radius: 5% 5% 5% 5%;
    margin-left: 2%;
  }
}

/*SIGN IN PAGE*/

