{% extends "layout.html" %}
{% block content %}
<div class=" text-center h-100 d-flex align-items-center">
<div class="container">
    <div class="row w-100 ml-5">
        <form class="col-md-5 col-10" id="form-field">
            <h2 class="form-title">Hello, Vaulter</h2>
            <div class="form-floating mb-4">
                <input type="text" class="form-control" id="inputName" placeholder=" ">
                <label for="inputName" class="form-control-sm">Name</label>
            </div>
            <div class="form-floating mb-4">
                <input type="email" class="form-control" id="inputEmail" placeholder=" ">
                <label for="inputEmail" class="form-control-sm">Email address</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" class="form-control" id="inputPassword" placeholder=" ">
                <label for="inputPassword" class="form-control-sm">Password</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" class="form-control" id="inputPasswordConfirm" placeholder=" ">
                <label for="inputPasswordConfirm" class="form-control-sm">Confirm Password</label>
            </div>
            <button type="submit" class="btn btn-outline-primary" id="submitButton">Register</button>
            <p class="paragraph">Already a member?   <a href="/login">Sign In</a></p>
        </form>

        <div class="col-4 d-none d-md-block" id="rightSideForm">
            <div class="row">
                <h2 style="color: white; margin: 20px;">Welcome to Next Step</h2>
            </div>
        </div>
    </div>
</div>
{% endblock content %}